<header>
 {% if section.settings.logo_image %}
    <a href="{{ shop.url }}" class="logo">
      <img src="{{ section.settings.logo_image | asset_url }}" alt="{{ shop.name }}" width="150" height="50">
    </a>
{%endif%}
  {% if section.settings.site_note %}
     <h1 class="site-note">{{ section.settings.site_note }}</h1>
{%endif%}

 
  {% if section.settings.tisso_button_label and section.settings.tisso_button_link %}
    <a href="{{ section.settings.tisso_button_link }}" class="tisso-button">
      {{ section.settings.tisso_button_label }}
    </a>
  {% endif %}

  {% for block in section.blocks %}
    {% render block.type %}
  {% endfor %} 
</header>

{% schema %}
{
  "name": "Tisso Header",


    "settings": [
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": "Logo Image"
    },
    {
      "type": "text",
      "id": "site_note",
      "label": "Site Note",
      "default": ""
    },
    {
      "type": "text",
      "id": "tisso_button_label",
      "label": "Tisso Button Label",
      "default": ""
    },
    {
      "type": "url",
      "id": "tisso_button_link",
      "label": "Tisso Button Link",
      "default": ""
    }
  ],
 
}
{% endschema %} 
