<header>
 {% if section.settings.logo_image %}
    <a href="{{ shop.url }}" class="logo">
      <img src="{{ section.settings.logo_image | asset_url }}" alt="{{ shop.name }}" width="150" height="50">
    </a>
{%endif%}
  {% if section.settings.site_note %}
     <h1 class="site-note">{{ section.settings.site_note }}</h1>
{%endif%}

 
  {% if section.settings.tisso_button_label and section.settings.tisso_button_link %}
    <a href="{{ section.settings.tisso_button_link }}" class="tisso-button">
      {{ section.settings.tisso_button_label }}
    </a>
  {% endif %}

  {% for block in section.blocks %}
    {% render block.type %}
  {% endfor %} 
</header>

{% schema %}
{
  "name": "Tisso Header",


    "settings": [
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": "Logo Image",
      "default": "/assets/images/logo.svg"
    },
    {
      "type": "text",
      "id": "site_note",
      "label": "Site Note",
      "default": "Find the ideal gift for your loved ones."
    },
    {
      "type": "text",
      "id": "tisso_button_label",
      "label": "Button Text",
      "default": "Choose Gift"
    },
    {
      "type": "url",
      "id": "tisso_button_link",
      "label": "Button Link",
      "default": "/"
    },
  

  ],
 "presets": [
    {
      "name": "Tisso Header",
      "category": "Header"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %} 
